$blue: #3bbfce;
$margin: 16px;

.content-navigation {
	border-color: $blue;
	color:
	darken($blue, 9%);
	background-image: url(./arrow.png);
}

.border {
	padding: $margin / 2;
	margin: $margin / 2;
	border-color: $blue;
}